@import "tailwindcss";

/*Thèmes des couleurs*/
:root{
    --color-warning-500: rgba(217, 0, 0);
    --color-success-500: rgba(25, 135, 84, 0.5);
    --color-info-title-900: rgba(255, 255, 255, 1);
    --color-description-900: rgba(125, 121, 123, 1);   /*--color-*/
}

/*Thèmes des fonds*/
:root{
 --color-background-900: rgba(0, 0, 0, 1);
}