<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="./index.css">
</head>

<body class="dark: bg-gray-600">
    <div class="mx-auto max-w-sm rounded-xl p-2 bg-white dark:bg-slate-800">
        <h1 class="text-3xl font-bold dark:text-white text-center">
            Counter-Strike en Tailwind !
        </h1>
        <center>
            <p class="text-gray-500 dark:text-gray-400">Le site fan de CS !</p>
        </center>
    </div>

    <a target="_blank" href="https://store.steampowered.com/app/730/CounterStrike_2/?l=french" class="gap-x-4 rounded-xl p-1 bg-sky-500 hover:bg-green-300">Découvrir Counter-Strike 2 !</a>
</body>
</html>